<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.0/css/dataTables.dataTables.css" />
    
</head>
<body>

    <nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">
        <button class="btn btn-outline-success me-2" type="button"><a href="index.php">Home</a></button>
        <button class="btn btn-outline-success me-2" type="button"><a href="login.php">Login</a></button>
        <button class="btn btn-outline-success me-2" type="button"><a href="register2.php">Register</a></button>
    </form>
    </nav>

    

    <!-- Link CDN Bootstrap JS (Opsional, hanya kalau kamu pakai komponen interaktif Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

<!-- <header>

        <a href="index.php">Home</a>
        <a href="login.php">Login</a>
        <a href="register.php">Register</a>


    </header> -->
